<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        식 기본 객체 (Expression Basic Objects)
    </h1>
    <p>requset,response 같은 것도 Controller에서 HttpRequest를 인자로 받아서 모델에 심어도 되지만 타임리프가 기본으로 제공해줌</p>
<ul>
    <li>request = <span th:text="${#request}"></span> </li>
    <li>response = <span th:text="${#response}"></span> </li>
    <li>session = <span th:text="${#session}"></span> </li>
    <li>servletContext = <span th:text="${#servletContext}"></span> </li>
    <li>locale = <span th:text="${#locale}"></span> </li>
</ul>
<h1>
    편의 객체
</h1>
<ul>
    <li>Request Parameter = <span th:text="${param.paramData}"></span> </li>
    <li>session = <span th:text="${session.sessionData}"></span> </li>
    <li>spring bean = <span th:text="${@helloBean.hello('Bean!')}"></span> </li>
</ul>
</body>
</html>